<div class="container">
    <div class="col left">
        <controls
            reset="$ctrl.onReset()"
            new-data="$ctrl.rows"
            load="$ctrl.onLoad(data)"></controls>
        <h2>Pallete</h2>
        <drag-bar>
            <drag-bar-item
                draggable="true"
                ng-repeat="color in $ctrl.colors"
                style="background-color: rgb({{color.rgb}});"
                data-color="{{color.rgb}}"></drag-bar-item>
        </drag-bar>
    </div>

    <div class="col right">
        <h2>Grid</h2>
        <drop-grid>
            <drop-grid-row ng-repeat="row in $ctrl.rows track by $index">
                <div class="row-color-form">
                    <input ng-show="isShow" ng-model="rowColor" />
                    <button ng-show="isShow" ng-click="$ctrl.setRowNewColor(rowColor, $index)">set</button>
                    <button ng-click="isShow = !isShow" class="row-color-btn">{{isShow ? '-' : '+'}}</button>
                </div>
                <drop-grid-cell
                    ng-repeat="col in row track by $index"
                    on-drop="$ctrl.setNewColor(color, $index, $parent.$index, true)"
                    style="background: rgb({{ col }});"
                    data-color="{{ col }}"></drop-grid-cell>
            </drop-grid-row>
        </drop-grid>
    </div>
    <div class="col end">
        <div ng-repeat="(key, value) in $ctrl.rows">
            <span ng-repeat="(cellKey, cellValue) in value track by ''+key+cellKey">
                <input
                    ng-model="cellValue"
                    ng-change="$ctrl.setNewColor(cellValue, $index, $parent.$index)" />
            </span>
        </div>
    </div>
</div>
